<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/main.css">
	<title>Convertor</title>
</head>
<body>
	<div class="header">
		<h1>THIS IS A CURRENCY CONVERTER</h1>
	</div>
	<div class="conteiner_block">
			<input class="enter" data-reverse="false" type="number" value="5" maxlength="10" >
			<select id="cur1">
				<option value="">RUB</option>
				<option value="">USD</option>
				<option value="">EUR</option>
				<option value="">GBR</option>
				<option value="">AUD</option>
				<option value="">AZN</option>
				<option value="">AMD</option>
				<option value="">BYN</option>
				<option value="">BGN</option>
				<option value="">BRL</option>
				<option value="">HUF</option>
				<option value="">KRW</option>
				<option value="">DKK</option>
				<option value="">INR</option>
				<option value="">KZT</option>
				<option value="">CAD</option>
				<option value="">KGS</option>
				<option value="">CNY</option>
				<option value="">MDL</option>
				<option value="">RON</option>
				<option value="">TMT</option>
				<option value="">NOK</option>
				<option value="">PLN</option>
				<option value="">SGD</option>
				<option value="">TJS</option>
				<option value="">TRY</option>
				<option value="">UZS</option>
				<option value="">UAH</option>
				<option value="">CZK</option>
				<option value="">SEK</option>
				<option value="">CHF</option>
				<option value="">ZAR</option>
				<option value="">JPY</option>
			</select>
</div>
<div class="ico_convert">
	<a href="http://127.0.0.1:5000/">
		<img src="../static/img/noroot.png" alt="" class="img">
	</a>
</div>
	
<div class="conteiner_block_two">
			<input class="enter enter_two" data-reverse="true" type="number" value="5" maxlength="10" >
			<select id="cur2">
				<option value="">USD</option>
				<option value="">RUB</option>
				<option value="">EUR</option>
				<option value="">GBR</option>
				<option value="">AUD</option>
				<option value="">AZN</option>
				<option value="">AMD</option>
				<option value="">BYN</option>
				<option value="">BGN</option>
				<option value="">BRL</option>
				<option value="">HUF</option>
				<option value="">KRW</option>
				<option value="">DKK</option>
				<option value="">INR</option>
				<option value="">KZT</option>
				<option value="">CAD</option>
				<option value="">KGS</option>
				<option value="">CNY</option>
				<option value="">MDL</option>
				<option value="">RON</option>
				<option value="">TMT</option>
				<option value="">NOK</option>
				<option value="">PLN</option>
				<option value="">SGD</option>
				<option value="">TJS</option>
				<option value="">TRY</option>
				<option value="">UZS</option>
				<option value="">UAH</option>
				<option value="">CZK</option>
				<option value="">SEK</option>
				<option value="">CHF</option>
				<option value="">ZAR</option>
				<option value="">JPY</option>
			</select>
</div>

<div class="end">
	<div class="conteiner">
	<div class="container_end">
		<p>RUB-Российский рубль</p>
		<p>USD-Доллар США</p>
		<p>EUR-ЕВРО</p>
		<p>GBR-Фунт стерлингов</p>
		<p>AUD-Австралийский доллар</p>
		<p>AZN-Азербайджанский манат</p>
		<p>AMD-Армянский драм</p>
		<p>BYN-Белорусский рубль</p>
		<p>BGN-Болгарский лев</p>
		<p>BRL-Бразильский реал</p>
		<p>HUF-Венгерский форинт</p>
	</div>
	<div class="container_end_two">
		<p>KRW-Вон Республики Корея</p>
		<p>DKK-Датская крона</p>
		<p>INR-Индийская рупия</p>
		<p>KZT-Казахстанский тенге</p>
		<p>CAD-Канадский доллар</p>
		<p>KGS-Киргизский сом</p>
		<p>CNY-Китайский юань</p>
		<p>MDL-Молдавский лей</p>
		<p>RON-Новый румынский лей</p>
		<p>TMT-Новый туркменский манат</p>
		<p>NOK-Норвежская крона</p>
	</div>
	<div class="container_end_tree">
		<p>PLN-Польский злотый</p>
		<p>SGD-Сингапурский доллар</p>
		<p>TJS-Таджикский сомони</p>
		<p>TRY-Турецкая лира</p>
		<p>UZS-Узбекский сум</p>
		<p>UAH-Украинская гривна</p>
		<p>CZK-Чешская крона</p>
		<p>SEK-Шведская крона</p>
		<p>CHF-Швейцарский франк</p>
		<p>ZAR-Южноафриканский рэнд</p>
		<p>JPY-Японская иена</p>
	</div>
   </div>
</div>
</body>
</html>