<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Currency Converter</title>
    <script src="{{url_for('static', filename='js/freecurrencyapi-js-master/index.js')}}"></script>
</head>
<body>
    <div class="container">
        <h1>Currency Converter</h1>
        <div class="converter">
            <input type="number" id="amount" placeholder="Amount">
            <select id="from">
            	<option value="RUB">RUB</option>
					<option value="USD">USD</option>
					<option value="RUB">RUB</option>
					<option value="EUR">EUR</option>
					<option value="GBP">GBP</option>
					<option value="AUD">AUD</option>
					<option value="AZN">AZN</option>
					<option value="AMD">AMD</option>
					<option value="BYN">BYN</option>
					<option value="BGN">BGN</option>
					<option value="BRL">BRL</option>
					<option value="HUF">HUF</option>
					<option value="KRW">KRW</option>
					<option value="DKK">DKK</option>
					<option value="KZT">KZT</option>
					<option value="CNY">CNY</option>
					<option value="PLN">PLN</option>
					<option value="UAH">UAH</option>
					<option value="CHF">CHF</option>
					<option value="JPY">JPY</option>
            </select>
            <p><b><i>IN</i></b></p>
            <select id="to">
					<option value="USD">USD</option>
					<option value="RUB">RUB</option>
					<option value="EUR">EUR</option>
					<option value="GBP">GBP</option>
					<option value="AUD">AUD</option>
					<option value="AZN">AZN</option>
					<option value="AMD">AMD</option>
					<option value="BYN">BYN</option>
					<option value="BGN">BGN</option>
					<option value="BRL">BRL</option>
					<option value="HUF">HUF</option>
					<option value="KRW">KRW</option>
					<option value="DKK">DKK</option>
					<option value="KZT">KZT</option>
					<option value="CNY">CNY</option>
					<option value="PLN">PLN</option>
					<option value="UAH">UAH</option>
					<option value="CHF">CHF</option>
					<option value="JPY">JPY</option>
            </select>
            <button id="convert">Convert</button>
        </div>
        <p id="result">Result: 0</p>
    </div>
     <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>
